@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_LayoutChiTietKhoaHoc.cshtml";
}
<section class="section">
    <div class="container">
        <div class="boxed boxedp4">
            <h1 style="color:#FD6504; text-align:center;">Thông tin liên hệ</h1>
            <div class="row">
                <div class="col-md-6">
                    <h2>Liên hệ của chúng tôi</h2>
                    <p>Chào bạn, cảm ơn bạn đã quan tâm đến các khóa học tại Trung Tâm Tin Học 2H.</p>
                    <p>Xin vui lòng liên hệ để được tư vấn và ghi danh các khóa học:</p>
                    <ul>
                        <li><strong>Trụ sở chính:</strong> 128 Nguyễn Sơn, Phường Phú Thọ Hòa, Quận Tân Phú, Thành phố Hồ Chí Minh</li>
                        <li><strong>Điện thoại:</strong> (+84) 090 888 777</li>
                        <li><strong>Email:</strong> <a href="mailto:tuvan@csc.huit.edu.vn">tuvan@csc.huit.edu.vn</a></li>
                    </ul>
                    <p>Bạn cũng có thể ghé thăm trực tiếp trung tâm của chúng tôi để biết thêm chi tiết và thảo luận với đội ngũ tư vấn của chúng tôi.</p>
                </div>
                <div class="col-md-6">
                    <h2>Hợp tác đào tạo và dự án CNTT</h2>
                    <p>Nếu bạn có yêu cầu liên quan đến hợp tác đào tạo, phát triển phần mềm, cung cấp giải pháp và thiết bị CNTT, tư vấn dự án CNTT, vui lòng liên hệ:</p>
                    <ul>
                        <li><strong>Điện thoại:</strong> 090 888 777</li>
                        <li><strong>Email:</strong> <a href="mailto:pda@csc.huit.edu.vn">pda@csc.huit.edu.vn</a></li>
                    </ul>
                    <p>Chúng tôi rất mong nhận được ý kiến đóng góp từ bạn để cùng nhau xây dựng một môi trường học tốt nhất cho cộng đồng.</p>
                </div>
            </div>
        </div>
    </div>
</section>

