@model ITCMS_HUIT.Client.Models.ChangePassword

@{
    ViewData["Title"] = "Login";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAuth.cshtml";
}

<div class="auth-wrapper">
    <div class="auth-content container">
        <div class="card">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="card-body">
                        <img src="~/images/logo-dark.png" alt="" class="img-fluid mb-4">
                        <h4 class="mb-3 f-w-400">Thay đổi mật khẩu</h4>
                        <p class="mb-0 text-muted">@Html.ValidationSummary("", new { @class = "text-danger" })</p>
                        <form method="post" asp-action="ChangedPassword" asp-controller="Auth">
                          @*   <div asp-validation-summary="All" class="text-danger"></div> *@
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="feather icon-lock"></i></span>
                                </div>
                                <input type="text" asp-for="Username" class="form-control" placeholder="Tên người dùng" autocomplete="off">
                                <span asp-validation-for="Username" class="text-danger"></span>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="feather icon-lock"></i></span>
                                </div>
                                <input type="password" asp-for="CurrentPassword" class="form-control" placeholder="Mật khẩu hiện tại" autocomplete="off">
                                <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="feather icon-lock"></i></span>
                                </div>
                                <input type="password" asp-for="NewPassword" class="form-control" placeholder="Mật khẩu mới" autocomplete="off">
                                <span asp-validation-for="NewPassword" class="text-danger"></span>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="feather icon-lock"></i></span>
                                </div>
                                <input type="password" asp-for="ConfirmNewPassword" class="form-control" placeholder="Xác nhận mật khẩu mới" autocomplete="off">
                                <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                            </div>
                            <button type="submit" class="btn btn-primary mb-4">Đổi mật khẩu</button>
                        </form>
                        <p class="mb-2 text-muted">Nhớ mật khẩu của bạn? <a asp-action="Login" asp-controller="Auth" class="f-w-400">Đăng nhập</a></p>
                    </div>
                </div>
                <div class="col-md-6 d-none d-md-block">
                    <img src="~/admin/assets/images/auth-bg.jpg" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>



