@{
    ViewData["Title"] = "Login";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAuth.cshtml";
}

<div class="auth-wrapper">
    <div class="auth-content container">
        <div class="card">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="card-body">
                        <img src="../assets/images/logo-dark.png" alt="" class="img-fluid mb-4">
                        <h4 class="mb-3 f-w-400">Change Your Password</h4>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="feather icon-lock"></i></span>
                            </div>
                            <input type="password" class="form-control" placeholder="Current Password">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="feather icon-lock"></i></span>
                            </div>
                            <input type="password" class="form-control" placeholder="New Password">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="feather icon-lock"></i></span>
                            </div>
                            <input type="password" class="form-control" placeholder="Confirm New Password">
                        </div>
                        <button class="btn btn-primary mb-4">Change Password</button>
                        <p class="mb-2 text-muted">Remember your password? <a href="auth-login.html" class="f-w-400">Login</a></p>
                    </div>
                </div>
                <div class="col-md-6 d-none d-md-block">
                    <img src="~/admin/assets/images/auth-bg.jpg" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>


