<div id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-right">
        <li><a href="/Home/Index">Trang chủ</a></li>

        <li class="dropdown yamm-fw yamm-half">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle active">Chương trình đào tạo <b class="fa fa-angle-down"></b></a>
            <ul class="dropdown-menu">
                @foreach (ChuongTrinhDaoTaoDTO item in Model)
                {
                    <li>
                        <div class="yamm-content clearfix">
                            <div class="row-fluid">
                                <div class="col-md-6 col-sm-6">
                                    <h4>@item.TenChuongTrinh</h4>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <ul>
                                        @foreach (KhoaHocModel khoaHoc in item.KhoaHocs!)
                                        {
                                            //id phải khớp với tên tham số trong hành động ChiTietKhoaHoc
                                            @* <li><a asp-controller="KhoaHoc" asp-action="ChiTietKhoaHoc" asp-route-id="@khoaHoc.IdchuongTrinh">@khoaHoc.TenKhoaHoc</a></li>  *@
                                            <li>
                                                @Html.ActionLink(khoaHoc.TenKhoaHoc,"ChiTietKhoaHoc","KhoaHoc", new {id=khoaHoc.IdkhoaHoc },null) <br />
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </li>
        <li><a asp-action="Index" asp-controller="Contact">Liên hệ</a></li>
        <li class="iconitem"><a asp-action="TimKiemKhoaHocTheoTen" asp-controller="KhoaHoc" data-toggle="modal" data-target="#login-modal"><i class="fa fa-search"></i></a></li>
        <li class="iconitem"><a class="shopicon"href="#"><i class="fa fa-shopping-basket"></i> &nbsp;(0)</a></li>
    </ul>
</div>