
<!doctype html>
<!--[if IE 9]> <html class="no-js ie9 fixed-layout" lang="en"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js " lang="en">
 <!--<![endif]-->
<head>

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Meta -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Site Meta -->
    <title>Trung Tâm Tin Học 2H</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="~/images/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="~/images/apple-touch-icon.png">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,400i,700,700i" rel="stylesheet">

    <!-- Custom & Default Styles -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="~/css/animate.css">
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>

    <!-- LOADER -->
    <div id="preloader">
        <img class="preloader" src="images/loader.gif" alt="">
    </div><!-- end loader -->
    <!-- END LOADER -->

    <div id="wrapper">
        <!-- BEGIN # MODAL LOGIN -->
        <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Begin # DIV Form -->
                    <div id="div-forms">
                        <form id="login-form" asp-action="TimKiemKhoaHocTheoTen" asp-controller="KhoaHoc" method="get">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <div class="modal-body">
                                <input class="form-control" type="search" name="keyword" placeholder="What you are looking for?" required>
                            </div>
                        </form><!-- End # Login Form -->
                    </div><!-- End # DIV Form -->
                </div>
            </div>
        </div>
        <!-- END # MODAL LOGIN -->

        <!-- menu -->
        @await Component.InvokeAsync("MenuCourse")

        <section class="section lb p120">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="tagline-message page-title text-center">
                            <h3>Danh Sách Các Khóa Học</h3>
                        </div>
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section><!-- end section -->

        <div>
            @RenderBody();
        </div>

        <footer class="section footer noover">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <div class="widget clearfix">
                            <h3 class="widget-title">Đăng ký nhận bản tin của chúng tôi</h3>
                            <div class="newsletter-widget">
                                <p>
                                    Bạn có thể hủy đăng ký nhận bản tin của chúng tôi bất kỳ lúc nào.
                                    <br>
                                    Xem <a href="#">chính sách bảo mật</a> của chúng tôi.
                                </p>

                                <form class="form-inline" role="search">
                                    <div class="form-1">
                                        <input type="text" class="form-control" placeholder="Nhập email ở đây..">
                                        <button type="submit" class="btn btn-primary"><i class="fa fa-paper-plane-o"></i></button>
                                    </div>
                                </form>
                                <img src="~/images/payments.png" alt="" class="img-responsive">
                            </div><!-- end newsletter -->
                        </div><!-- end widget -->
                    </div><!-- end col -->

                    <div class="col-lg-3 col-md-3">
                        <div class="widget clearfix">
                            <h3 class="widget-title">Trụ sở của trung tâm</h3>
                            <p><i class="fa fa-map-marker" aria-hidden="true"></i> 128 Nguyễn Sơn, P. Phú Thọ Hòa, Q. Tân Phú, TP. HCM</p>
                            <p><i class="fa fa-phone" aria-hidden="true"></i> (+84) 090 888 777</p>
                        </div><!-- end widget -->
                    </div><!-- end col -->

                    <div class="col-lg-3 col-md-3">
                        <div class="widget clearfix">
                            <h3 class="widget-title">Các thẻ phổ biến</h3>
                            <div class="tags-widget">
                                <ul class="list-inline">
                                    <li><a href="#">.NET</a></li>
                                    <li><a href="#">Azure</a></li>
                                    <li><a href="#">AI</a></li>
                                    <li><a href="#">Java</a></li>
                                    <li><a href="#">PHP</a></li>
                                    <li><a href="#">Word</a></li>
                                    <li><a href="#">SQL</a></li>
                                    <li><a href="#">CSS3</a></li>
                                    <li><a href="#">Html</a></li>
                                    <li><a href="#">Excel</a></li>
                                </ul>
                            </div><!-- end list-widget -->
                        </div><!-- end widget -->
                    </div><!-- end col -->

                    <div class="col-lg-2 col-md-2">
                        <div class="widget clearfix">
                            <h3 class="widget-title">Chính sách và quy định chung</h3>
                            <div class="list-widget">
                                <ul>
                                    <li><a href="#"><i class="fa fa-file-text-o" aria-hidden="true"></i> Điều khoản dịch vụ</a></li>
                                    <li><a href="#"><i class="fa fa-lock" aria-hidden="true"></i> Bảo mật</a></li>
                                </ul>
                            </div><!-- end list-widget -->
                        </div><!-- end widget -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </footer><!-- end footer -->

        <div class="copyrights">
            <div class="container">
                <div class="clearfix">
                    <div class="pull-right">
                        <div class="footer-links">
                            <ul class="list-inline">
                                <li>Copyright © Trung Tâm Tin Học 2H</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div><!-- end container -->
        </div><!-- end copy -->
    </div><!-- end wrapper -->
    <!-- jQuery Files -->
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/animate.js"></script>
    <script src="~/js/bootstrap-select.min.js"></script>
    <script src="~/js/custom.js"></script>

</body>
</html>