@model List<string>

@{
    ViewData["Title"] = "Backup";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content" style="margin-top: 60px;">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ breadcrumb ] start -->
                        <div class="page-header">
                            <div class="page-block">
                                <div class="row align-items-center">
                                    <div class="col-md-12">
                                        <div class="page-header-title">
                                            <h3 class="m-b-10">Danh Sách Tệp Tin Sao Lưu</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- [ breadcrumb ] end -->
                        <!-- [ Main Content ] start -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h5>Bảng danh sách các tệp tin đã sao lưu</h5>
                                        <br />
                                    </div>
                                    <div class="card-body table-border-style">
                                        <div class="backup-button">
                                            <a asp-action="Backup" class="btn btn-danger">Sao lưu</a>
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table table-bordered">
                                                <thead class="thead-grey">
                                                    <tr>
                                                        <th scope="col">Đường dẫn Backup</th>
                                                        <th scope="col">Thao tác</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in Model)
                                                    {
                                                        <tr>
                                                            <td>
                                                                @item
                                                            </td>
                                                            <td>
                                                                <form asp-controller="CoSoDuLieus" asp-action="Restore" method="post">
                                                                    <input type="hidden" name="backupFileName" value="@item" />
                                                                    <button type="submit" class="btn btn-success">Phục hồi</button>
                                                                </form>
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- [ Main Content ] end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>