@model X.PagedList.IPagedList<string>
@using static ITCMS_HUIT.Client.Common.FileHelper

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    .pagination-container {
        display: flex;
        flex: 1;
        margin: 12px;
    }

    .pagination {
        display: flex;
        flex: 1;
        list-style: none;
        padding: 0;
        gap: .625rem;
    }

    .page-item, .page-link {
        height: 2rem;
        width: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .PagedList-pageCountAndLocation {
        justify-content: space-between;
        order: -1;
        flex: 1;
    }
    .product-management-buttons {
        margin: 12px;
    }
</style>
<section class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content" style="margin-top: 60px;">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ breadcrumb ] start -->
                        <div class="page-header">
                            <div class="page-block">
                                <div class="row align-items-center">
                                    <div class="col-md-12">
                                        <div class="page-header-title">
                                            <h3 class="m-b-10">Danh Sách Tệp Tin Sao Lưu</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- [ breadcrumb ] end -->
                        <!-- [ Main Content ] start -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header">
                                        <a id="backupButton" asp-action="Backup" class="btn btn-danger">Sao lưu</a>
                                    </div>
                                    <div class="card-body table-border-style">
                                        
                                        <div class="table-responsive">
                                            <table id="backupTable" class="table table-bordered">
                                                <thead class="thead-grey">
                                                    <tr>
                                                        <th scope="col">Đường dẫn Backup</th>
                                                        <th scope="col">Thao tác</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in Model)
                                                    {
                                                        <tr>
                                                            <td>
                                                                @item
                                                            </td>
                                                            
                                                            <td>
                                                                <form asp-controller="CoSoDuLieus" asp-action="Restore" method="post">
                                                                    <input type="hidden" name="backupFileName" value="@GetFileName(item)" />
                                                                    <button type="submit" class="btn btn-success">Phục hồi</button>
                                                                </form>
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                        @Html.PagedListPager((IPagedList)Model,
                                        pageNo => Url.Action("Index","CoSoDuLieus", new { pageNo, area="Admin" }),
                                        new PagedListRenderOptions{
                                        PageClasses = new string[] { "page-link" },
                                        UlElementClasses = new string[] { "pagination" },
                                        LiElementClasses = new string[] { "page-item" },
                                        DisplayItemSliceAndTotal = true,
                                        DisplayEllipsesWhenNotShowingAllPageNumbers = true,
                                        DisplayLinkToFirstPage = PagedListDisplayMode.IfNeeded,
                                        DisplayLinkToLastPage = PagedListDisplayMode.IfNeeded
                                        }
                                        )
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- [ Main Content ] end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

